.mainnavi{
    background-color:rgba(153, 231, 153,10%);
}
.card-intro{
    background-color: rgba(169, 255, 246, 10%);
}
.card-title-intro{
    font-size: 10vh;
}
.card-std{
    background-color: rgba(169, 255, 246, 10%);
    height: 100%;
}
.card-std:hover{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    box-shadow: 2px 2px 10px 5px lightgrey;
}
.card-online:hover{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    box-shadow: 2px 2px 10px 5px lightgrey;
}
.footerlist{
    list-style-type:none;
}